*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(29 29 29);
    flex-direction: column;
}
footer{
    background-color: rgb(29 29 29);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 13vh;
}
.stopWatch{
    color: white;
    background-color: black;
    padding: 13px 19px;
    border-radius: 4px;
}
.timerDisplay{
    font-size: 28px;
    font-weight: bold;
}
.buttons{
    margin-top: 12px;
}
.btn{
    margin: 5px;
    padding: 7px 10px;
    cursor: pointer;
    color: white;
    /* font-weight: bold; */
    border: none;
    border-radius: 4px;
}
#stop
{
    background-color: red;
}
#stop:hover
{
    background-color: rgb(167, 1, 1);
}
#start
{
    background-color: green;
}
#start:hover
{
    background-color: rgb(1, 96, 1);
}
#reset
{
    background-color: blue;
}
#reset:hover
{
    background-color: rgb(4, 4, 184);
}